#container{
    overflow:hidden;
}

#content{
    overflow: hidden;
    margin: 10px;
    box-shadow: 5px 5px 5px;
}

#main-area{
    float: left;
    width:75%;
    min-height: 600px;
    box-sizing: border-box;
    background-color: rgb(235, 236, 240);
}

#right-bar{
    border-left: 3px solid rgb(177, 13, 13);
    width :25%;
    min-height: 600px;
    box-sizing: border-box;
    float: left;
    background-color:rgb(74, 75, 78);
}

#footer{
    min-height:100px;
    width:100%;
    background-color:rgb(40, 92, 6);
}